@model IEnumerable<BaltazarWeb.Models.Student>
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "لیست آموزگاران";
}

<h2>لیست آموزگاران</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>جوابهای تائید شده</th>
            <th>جوابهای رد شده</th>
            <th>جوابهای گزارش شده</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink("ویرایش", "EditTeacher", new { id = item.Id.ToString() }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.Id.ToString() }, new { onclick = "return confirm('آیا برای حذف مطمئن هستید؟');" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @(Utils.GetPersianDateString(item.RegistrationDate))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @(DB.Count<Answer>(a => a.UserId == item.Id && a.Response == Answer.QuestionerResponseEnum.Accepted))
            </td>
            <td>
                @(DB.Count<Answer>(a => a.UserId == item.Id && a.Response == Answer.QuestionerResponseEnum.Rejected))
            </td>
            <td>
                @(DB.Count<Answer>(a => a.UserId == item.Id && a.Response == Answer.QuestionerResponseEnum.Reported))
            </td>
        </tr>
        }
    </tbody>
</table>
