@model IEnumerable<BaltazarWeb.Models.ShopOrder>
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "لیست سفارشات";
}

<h2>لیست سفارشات @ViewBag.Status</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoinCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(DB.FindById<ShopItem>(item.ShopItemId)?.Name)
            </td>
            <td>
                @(DB.FindById<Student>(item.UserId)?.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoinCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status == ShopOrder.OrderStatus.WaitForApprove)
                {
                    @Html.ActionLink("تائید", "ApproveOrder", new { id = item.Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
