@model IEnumerable<BaltazarWeb.Models.Answer>
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "تائید جواب ها";
}

<h2>تائید جواب ها</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink("جزئیات", "Details", new { id = item.Id.ToString() })
            </td>
            <td>
                @(DB.FindById<Student>(item.UserId)?.DisplayName)
            </td>
            <td>
                @(Utils.GetPersianDateString(item.CreateDate))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @if (item.HasImage)
                {
                    <a href="@("../../" + Consts.UPLOAD_IMAGE_DIR.Replace("\\", "/") + "/" + item.Id + ".jpg")">تصویر</a>
                }
            </td>
            <td>
                @Html.ActionLink("تائید میشود", "Accept", new { id = item.Id.ToString() }) |
                @Html.ActionLink("نامناسب است", "Reject", new { id = item.Id.ToString() })
            </td>
        </tr>
        }
    </tbody>
</table>
