@model BaltazarWeb.Models.Answer
@inject AliaaCommon.MongoDB.MongoHelper DB
@using BaltazarWeb.Controllers;

@{
    ViewData["Title"] = "جزئیات جواب";
}

<h2>جزئیات جواب</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @{ Html.Raw(DB.FindById<Student>(Model.UserId)?.DisplayName); }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishStatus)
        </dd>
        @if (Model.HasImage)
        {
            <dt>تصویر:</dt>
            <dd>
                @{ string imagePath = System.IO.Path.Combine(QuestionsController.UPLOAD_DIR, Model.Id + ".jpg"); }
                <img src="@imagePath" />
            </dd>
        }
    </dl>
</div>
<div>
    <input type="submit" value="تائید" asp-action="Accept" /> &nbsp;
    <input type="submit" value="نامناسب" asp-action="Reject" />
</div>
<div>
    <a asp-action="ApproveList">برگشت به لیست</a>
</div>
