@model BaltazarWeb.Models.Answer
@inject AliaaCommon.MongoDB.MongoHelper DB
@using BaltazarWeb.Controllers;

@{
    ViewData["Title"] = "جزئیات جواب";
}

<h2>جزئیات جواب</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @(DB.FindById<Student>(Model.UserId)?.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishStatus)
        </dd>
        @if (Model.HasImage)
        {
            <dt>تصویر:</dt>
            <dd>
                <img src="@("/" + Consts.UPLOAD_IMAGE_DIR.Replace("\\","/") + "/" + Model.Id + ".jpg")" style="width:100%;" />
            </dd>
        }
    </dl>
</div>
<div align="center">
    @Html.ActionLink("تائید محتوا", "Accept", new { id = Model.Id.ToString() }) &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("محتوای نامناسب", "Reject", new { id = Model.Id.ToString() })
</div>
<div>
    <a asp-action="ApproveList">برگشت به لیست</a>
</div>
