@model BaltazarWeb.Models.Answer
@inject AliaaCommon.MongoDB.MongoHelper DB
@using BaltazarWeb.Controllers;

@{
    ViewData["Title"] = "جزئیات جواب";
}

<h2>جزئیات جواب</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.UserId)</td>
            <td>@(DB.FindById<Student>(Model.UserId)?.DisplayName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Response)</td>
            <td>@Html.DisplayFor(model => model.Response)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CreateDate)</td>
            <td>@Html.DisplayFor(model => model.CreateDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Text)</td>
            <td>@Html.DisplayFor(model => model.Text)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PublishStatus)</td>
            <td>@Html.DisplayFor(model => model.PublishStatus)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Text)</td>
            <td>@Html.DisplayFor(model => model.Text)</td>
        </tr>
    </table>
    @if (Model.HasImage)
    {
        <dl>
            <dt>تصویر:</dt>
            <dd>
                <img src="@("../../" + Consts.UPLOAD_IMAGE_DIR.Replace("\\","/") + "/" + Model.Id + ".jpg")" style="width:100%;" />
            </dd>
        </dl>
    }
</div>
<div align="center">
    @Html.ActionLink("تائید محتوا", "Accept", new { id = Model.Id.ToString() }) &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("محتوای نامناسب", "Reject", new { id = Model.Id.ToString() })
</div>
<div>
    <a asp-action="ApproveList">برگشت به لیست</a>
</div>
