@model BaltazarWeb.Models.Question
@inject AliaaCommon.MongoDB.MongoHelper DB
@using BaltazarWeb.Controllers;

@{
    ViewData["Title"] = "جزئیات سوال";
}

<h2>جزئیات سوال</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @(DB.FindById<Student>(Model.UserId)?.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @(DB.FindById<Course>(Model.CourseId)?.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>
        <dd>
            @(DB.FindById<CourseSection>(Model.SectionId)?.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        @if(Model.HasImage)
        {
            <dt>تصویر:</dt>
            <dd>
                <img src="@("/" + Consts.UPLOAD_IMAGE_DIR.Replace("\\","/") + "/" + Model.Id + ".jpg")" style="width:100%;"/>
            </dd>
        }
    </dl>
</div>
<div align="center">
    @Html.ActionLink("تائید محتوا", "Accept", new { id = Model.Id.ToString() }) &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("محتوای نامناسب", "Reject", new { id = Model.Id.ToString() })
</div>
<div>
    <a asp-action="ApproveList">برگشت به لیست</a>
</div>
