@model IEnumerable<BaltazarWeb.Models.Course>
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "لیست دروس";
}

<h2>لیست دروس</h2>

<p>
    <a asp-action="Add">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyFieldId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id.ToString() }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.Id.ToString() }, new { onclick = "return confirm('آیا برای حذف مطمئن هستید؟');" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @{
                    string studyField = DB.FindById<StudyField>(item.StudyFieldId)?.Name;
                }
                @Html.DisplayFor(_ => studyField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        }
    </tbody>
</table>
